html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: 1px;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.farapad {
  padding-left: 8px;
}

header {
  img {
    height: 90px;
    width: 90px;
  }

  .logo {
    a {
      &:hover {
        text-decoration: none;
        color: red;
        text-shadow: 0 0 5px red;
        transition: 1.5s ease;
      }

      font-size: 22px;
      text-decoration: none;
      color: white;
    }
  }

  nav {
    a {
      &:hover {
        text-decoration: none;
        color: red;
        text-shadow: 0 0 5px red;
        transition: 1s ease;
      }
      text-decoration: none;
      color: white;
      font-size: 17px;
    }
    display: flex;
    align-items: flex-start;
  }
  z-index: 999999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100px;
  padding: 0;
}

.cont2 {
  padding: 0;
  width: 100%;
  height: 630px;

  img {
    width: 100%;
    height: 630px;
  }
}



.cont3 {
  .box {
    .img1 {
      width: auto;
      height: 300px;
    }
    .img2 {
      width: auto;
      height: 300px;
      padding-top: 20px;
    }
    .img3 {
      width: auto;
      height: 300px;
      padding-top: 5px;
    }
    h2 {
      &:hover {
        text-decoration: none;
        color: red;
        text-shadow: 0 0 5px red;
        transition: 1s ease;
      }
      cursor: default;
      color: white;
    }
    a {
      &:hover {
        text-decoration: none;
        color: red;
        text-shadow: 0 0 5px red;
        transition: 1s ease;
      }
      color: white;
      text-decoration: none;
    }
    text-align: center;
    margin-top: 50px;
    width: 370px;
    height: 500px;
  }
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 600px;
}

#player2 {
  &:hover {
    text-decoration: none;
    color: blue;
    text-shadow: 0 0 5px blue;
    transition: 1s ease;
  }
}

#player3 {
  &:hover {
    text-decoration: none;
    color: green;
    text-shadow: 0 0 5px green;
    transition: 1s ease;
  }
}



.cont4 {
  display: flex;
  flex-direction: column;
  height: 1300px;
  width: 100%;
}

.columnmain {
      .resize {
        height: 540px;
      }
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.columnside {
  .resize {
    height: 415px;
    margin-top: 60px;
  }
  margin-top: 20px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
}


.jocuri {
  color: white;
  margin-bottom: 40px;
  margin: 0;
}


.linie {
  width: 15%;
  border: 2px solid #1d1d1d;
  margin: 0 auto;
  margin-bottom: 60px;
}

.servicii {
  color: white;
  margin: 0;
  margin-bottom: -40px;
}

.linie2 {
  width: 15%;
  border: 2px solid #1d1d1d;
  margin: 0 auto;
  margin-top: 40px;
}


.linie3 {
  width: 18%;
  border: 2px solid #1d1d1d;
  margin: 0 auto;
  margin-bottom: 40px;
}

.cont5 {
  width: 100%;
  height: 2100px;
}

.pret{
  img{
    width: 48%;
  }
  display: flex;
  justify-content: space-around;
}


.oferta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.cont6 {
  width: 100%;
  height: 700px;
}


#contact {
  height: 530px;
  border-top: solid 1.5px red;
}

.footer {
  color: white;
}

.footerhead {
  text-align: center;
  padding: 30px;
  letter-spacing: 3px;
}

.footerhead h1 {
  color: red;
  text-shadow: 0 0 5px red;
  padding-bottom: 20px;
}

.linkuri {
  text-align: center;
  font-size: 24px;
  padding-bottom: 50px;
}

.linkuri a {
  text-decoration: none;
  color: inherit;
}

.linkuri a:hover {
  font-size: 24px;
  color: red;
  text-shadow: 0 0 5px red;
  transition: 0.5s linear;
}

.row3 {
  display: flex;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.column3 {
  text-align: center;
  padding-right: 70px;
}

.upper {
  font-size: 25px;
  color: red;
  text-shadow: 0 0 5px red;
}

footer {
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.map iframe {
  width: 100%;
}

.map {
  border-top: solid 1.5px red;
}
